target
.nrepl*
.lein-env
bower_components
.DS_Store
node_modules
*.jar
.vagrant
infrastructure/ansible/files/env
certs
ga-oauth-key*
.sass-cache
output
crash.log
tmp
gpg.edn
*cider-repl*
project.clj
pom.xml