{:paths ["src" "test"]
 :deps {aysylu/loom             {:mvn/version "1.0.2"}
        medley/medley           {:mvn/version "0.8.3"}
        borkdude/spartan.spec   {:git/url "https://github.com/borkdude/spartan.spec"
                                 :sha "e5c9f40ebcc64b27b3e3e83ad2a285ccc0997097"}
        ;; Just for test
        org.clojure/test.check  {:mvn/version "0.9.0"}}}
