;; This file exists for easilyrunning clj tests. More work needs to bedone to replace boot
;; completely
{:paths ["src"]
 :deps {aysylu/loom             {:mvn/version "1.0.2"}
        medley/medley           {:mvn/version "0.8.3"}
        org.clojure/spec.alpha  {:mvn/version "0.3.218"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps  {org.clojure/test.check  {:mvn/version "0.9.0"}}}

  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                 :sha     "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts  ["-m" "cognitect.test-runner"
                "-d" "test"]}}}
