{:deps {org.clojure/clojure         {:mvn/version "1.9.0-alpha17"}
        org.clojure/test.check      {:mvn/version "0.9.0"}
        org.clojure/tools.namespace {:mvn/version "0.2.11"}
        org.clojure/spec.alpha      {:mvn/version "0.1.123"}
        better-cond                 {:mvn/version "2.0.1-SNAPSHOT"}
        aysylu/loom                 {:mvn/version "1.0.0"}
        medley                      {:mvn/version "0.8.3"}}}