{:paths ["src"]

 :deps {aysylu/loom             {:mvn/version "1.0.2"}
        medley/medley           {:mvn/version "0.8.3"}
        better-cond/better-cond {:mvn/version "2.0.1-SNAPSHOT"}
        org.clojure/spec.alpha  {:mvn/version "0.3.218"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps  {org.clojure/test.check               {:mvn/version "0.9.0"}
                 io.github.cognitect-labs/test-runner {:git/tag "v0.5.0" :git/sha "48c3c67"}}
   :exec-fn     cognitect.test-runner.api/test}

  :test-cljs
  {:extra-paths ["test"]
   :extra-deps  {org.clojure/test.check  {:mvn/version "0.9.0"}
                 olical/cljs-test-runner {:mvn/version "3.8.0"}}
   :exec-fn     cljs-test-runner.main/-main}

  :build
  {:deps       {io.github.seancorfield/build-clj
                {:git/tag "v0.6.6" :git/sha "171d5f1"}}
   :ns-default build}}}
